
.close {
    margin-top: 30px;
    float: left;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    z-index: 1000;
    opacity: 1;
}


.panel-primary {
    border: none;
    background-color: #8ED9F6;
    border-bottom: 1px solid #8ED9F5;
    height: 100%;
    margin: 0;
}

    .panel-primary > .panel-heading {
        height: 80px;
        background-color: #23B6EA;
        border-bottom: none;
        
    }

.panel-title {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}


.panel-body {
    padding:0 15px 0 15px;
}

.panel-centent {
    margin-top: 5px;
    border-radius: 4px;
    background-color: #fff;
}

.panel-centent-title {
    padding-top: 0px;
    text-align: center;
    line-height: 30px;
}

    .panel-centent-title span {
        display: inline-block;
        padding-left: 20px;
        color: #616161;
        font-size: 40px;
    }

.panel-centent-cer {
    padding-top: 30px;
    text-align: center;
}

    .panel-centent-cer img {      
        height: auto;
        width: auto\9;
        width: 80%;
        height:60%
    }

.panel-word {
    padding-top: 30px;
    font-size: 20px;
    color: #9B9B9B;
}

.panel-bodys {
    color: #fff;
}

.panel-centents {
}


.btn-group button {
    width: 100px;
}


/*.footer-btn{
 background-color:#8ED9F6;
}*/



.footer-btn div {
    float: left;
    padding: 30px 0;
}

.footer {
    background-color: #52C3EB;
    border-top: 1px solid #52C3EB;
    z-index: 1000;
}

    .footer img {
        height: auto;
        width: auto\9;
        width: 100%;
        height: 100%;
        border-top: none;
    }

.panel-centent-item {
    background-color: #52C3EB;
    text-align: center;
}


.panel-centent-titles {
    border-top: none;
}


.panel-centent-cers {
    color: #fff;
    font-size: 18px;
    padding: 50px 0;
}


#btnLogin {
    font-size: 25px;
    height: 60px;
}



.btn-group {
    /*display:block;*/
}

.panel-centents {
    margin-top: 5px;
    border-radius: 4px;
}

.progress {
    border-radius: 10px;
    margin-top:30px;
}

.panel-words {
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-item {
    /*color: #979797;*/
    color:#fff;
}

.panel-items {    
    font-size: 20px;
}

.footer-btns {
    text-align: center;
}

    .footer-btns button {
        margin: 17px auto;
        width: 80%;
        margin-left: 27px;
        height: 50px;
    }

.right{
    background-color:#34BD65 !important;
    color:#fff !important;
}
.wrong{
    background-color:#EC6246 !important;
    color:#fff !important;
}
/*//iphone6
@media screen and (min-width:375px) {
	.panel-primary{
		background-color:#8ED9F6;
		height:667px;
	
	}
}
//iphone6plus
@media(min-device-width:414px;){
	.panel-primary{
		background-color:#8ED9F6;
		height:736px;
}
}*/

/* iphone 6 */
/*@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2) {
   body {
        background-color:#ddd;
    }
}*/

/*@media (min-device-width : 720px) and (max-device-width : 1280px) and (-webkit-min-device-pixel-ratio : 2) {
   
    body{
        background-color:#f00;
    }
}*/



/*@media only screenand (min-device-width : 320px)and (max-device-width : 568px){
body{
    background-color:#000;
    }

}*/


/*@media only screenand (min-device-width : 435px)and (max-device-width : 773px){
body{
    background-color:#000;
    }

}




/* 判断iphone4-iphone4s */

/*@media only screenand (min-device-width : 320px)and (max-device-width : 480px)
{
    body{
    background-color:#00f;
    }
 

}*/



 /*//var exps = $("#explain").text();
    //var egs = $("#egEN").text();
    //var wors = $("#wordz").text();
    //var confs = $("#conf1").text();
    //var confs1 = $("#conf2").text();
    //var confs2 = $("#conf3").text();
    //var arrs = [wors, confs, confs1, confs2]*/
